/* タブレット向けレイアウト */
/*	
		統一事項(タブレット)
	h1 font-size:2px;,font-weight:700;
	p font-size:14px;
*/
@media all and (max-width: 1025px) {

/*-------------------- header --------------------*/
 	.menu-icon {
    	display: block;
  	}

/*-------------------- top-wrapper --------------------*/

	.jumbotron {
		height: 90vh;
	}

	.wrapper {
		padding: 5px;
	} 

	.wrapper h1 {
		font-size: 50px;
		font-weight: 700;
		letter-spacing: 2px;
		margin-bottom: 15px;
		line-height: 75px;
	}

	.wrapper p {
		font-size: 24px;
		margin-bottom: 100px;
		opacity: 0.8;
	}

	#masthead-btn {
		width: 300px;
	}
/*-------------------- features-wrapper --------------------*/

	#title {
		font-size: 40px;
		font-weight: 700;
	}

	#features-des {
		font-size: 24px;
	}	

/*-------------------- contents-wrapper --------------------*/
	
	#contents-des {
		font-size: 24px;
	}

	#contents-btn {
		width: 100%;
	}

/*-------------------- signin-wrapper --------------------*/
	
	#signin-btn {
		width: 100%;
	}

/*-------------------- signin-confirm --------------------*/

	#container-confirm h1 {
		font-size: 28px;
		font-weight: 700;
		margin-bottom: 30px;
	}

	#container-confirm p {
		font-size: 16px;
		opacity: 0.9;
	}

	#table-confirm {
		width: 100%;
	}

	#table-confirm th {
		font-size: 10px;
	}

	.confirm-btn {
		width: 70%;
		margin-bottom: 20px;
	}

	#regist-btn {
		width: 70%;
	}

/*-------------------- signin-complete --------------------*/

	#container-complete h1 {
		font-size: 28px;
		font-weight: 700;
		margin-bottom: 30px;
		margin-top: 30px;
	}

	#container-complete h5 {
		font-size: 18px;
	}

	#container-complete p {
		font-size: 16px;
		opacity: 0.9;
	}

	.complete-btn {
		width: 70%;
	}

	#inquiry-btn {
		margin-bottom: 40px;
	}

/*-------------------- footer --------------------*/

	footer {
		font-size: 18px;
	}
  
}



/* モバイル向けレイアウト */
/*	
		統一事項(モバイル)
	h1 font-size:26px;,font-weight:700;
	p font-size:14px;
*/
@media all and (max-width: 670px) {
  
/*-------------------- header --------------------*/
 	.menu-icon {
    	display: block;
  	}

/*-------------------- top-wrapper --------------------*/

	.jumbotron {
		height: 80vh;
	}

	.wrapper {
		padding: 5px;
	}

	.wrapper h1 {
		font-size: 26px;
		font-weight: 700;
		letter-spacing: 2px;
		margin-bottom: 15px;
		line-height: 50px;
	}

	.wrapper p {
		font-size: 14px;
		margin-bottom: 90px;
		opacity: 0.8;
	}

	#masthead-btn {
		width: 100%;
	}
/*-------------------- features-wrapper --------------------*/

	#title {
		font-size: 30px;
		font-weight: 700;
	}

	#features-des {
		font-size: 18px;
	}	

/*-------------------- contents-wrapper --------------------*/
	
	#contents-des {
		font-size: 18px;
	}

	#contents-btn {
		width: 100%;
	}

/*-------------------- signin-wrapper --------------------*/
	
	#signin-btn {
		width: 100%;
	}

	#signinConfirm-btn {

		width: 100%;
	}

/*-------------------- signin-confirm --------------------*/

	#container-confirm h1 {
		font-size: 26px;
		font-weight: 700;
		margin-bottom: 30px;
	}

	#container-confirm p {
		font-size: 14px;
		opacity: 0.9;
	}

	#table-confirm {
		width: 100%;
	}

	#table-confirm th {
		font-size: 10px;
	}

	#wrapper-confirm-btn .confirm-btn {
		width: 90%;
	}

	#regist-btn {
		width: 90%;
	}

	#qqqq {
		width: 90%;
	}

/*-------------------- signin-complete --------------------*/

	#container-complete h1 {
		font-size: 26px;
		font-weight: 700;
		margin-bottom: 30px;
		margin-top: 30px;
	}

	#container-complete h5 {
		font-size: 18px;
	}

	#container-complete p {
		font-size: 14px;
		opacity: 0.9;
	}

	.complete-btn {
		width: 90%;
	}

	#inquiry-btn {
		margin-bottom: 40px;
	}



/*-------------------- footer --------------------*/

	footer {
		font-size: 12px;
	}
}














