/* タブレット向けレイアウト */
@media all and (max-width: 1025px) {

/*-------------------- header --------------------*/
 	.menu-icon {
    	display: block;
  	}

/*-------------------- top-wrapper --------------------*/

	.jumbotron {
		height: 90vh;
	}

	.wrapper {
		padding: 5px;
	} 

	.wrapper h1 {
		font-size: 50px;
		font-weight: 700;
		letter-spacing: 2px;
		margin-bottom: 15px;
		line-height: 75px;
	}

	.wrapper p {
		font-size: 24px;
		margin-bottom: 100px;
		opacity: 0.8;
	}

	#masthead-btn {
		width: 300px;
	}
/*-------------------- features-wrapper --------------------*/

	#title {
		font-size: 40px;
		font-weight: 700;
	}

	#features-des {
		font-size: 24px;
	}	

/*-------------------- contents-wrapper --------------------*/
	
	#contents-des {
		font-size: 24px;
	}

	#contents-btn {
		width: 100%;
	}

/*-------------------- signin-wrapper --------------------*/
	
	#signin-btn {
		width: 100%;
	}

/*-------------------- footer --------------------*/

	footer {
		font-size: 18px;
	}
  
}



/* モバイル向けレイアウト */
@media all and (max-width: 670px) {
  
/*-------------------- header --------------------*/
 	.menu-icon {
    	display: block;
  	}

/*-------------------- top-wrapper --------------------*/

	.jumbotron {
		height: 80vh;
	}

	.wrapper {
		padding: 5px;
	}

	.wrapper h1 {
		font-size: 26px;
		font-weight: 700;
		letter-spacing: 2px;
		margin-bottom: 15px;
		line-height: 50px;
	}

	.wrapper p {
		font-size: 14px;
		margin-bottom: 90px;
		opacity: 0.8;
	}

	#masthead-btn {
		width: 100%;
	}
/*-------------------- features-wrapper --------------------*/

	#title {
		font-size: 30px;
		font-weight: 700;
	}

	#features-des {
		font-size: 18px;
	}	

/*-------------------- contents-wrapper --------------------*/
	
	#contents-des {
		font-size: 18px;
	}

	#contents-btn {
		width: 100%;
	}

/*-------------------- signin-wrapper --------------------*/
	
	#signin-btn {
		width: 100%;
	}

/*-------------------- footer --------------------*/

	footer {
		font-size: 12px;
	}
}














