
/*-------------------- 共通CSS --------------------*/
* {
	box-siging: border-box;
}

html body {
	height: 100%;
	margin: 0;
}

/*.container {
	width: 100%;
	margin: 0 auto;
}*/

.container a {
  text-decoration: none;
}

#btn-text {
	font-size: 24px;
}

body, #main-wrapper {
	display: flex;
  	flex-direction: column;
 	min-height: 100vh;
}


/*-------------------- header --------------------*/

header {
	background-color: #212529;
	opacity: 0.9;
}

#navbarRight a:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

#menu-icon {
 	color: white;
}

/*-------------------- #desContainer --------------------*/

#desText p {
	line-height: 30px;
}

#exampleFormControlSelect1 {
	width: 60%;
	margin: 0 auto;
}

#deleteBtn {
	width: 20%;
}


/*-------------------- footer --------------------*/

footer {
	background-color: #f8f9fa;
	line-height: 60px;
	margin-top: auto;
}


