
/*header*/

header {
	background-color: #212529;
	opacity: 0.9;
}

.container #logo {
	font-size: 22px;
	margin-right: 480px;
}

.navbar-nav li {
	margin-right: 15px;
}



/*footer*/

footer {
	background-color: #f8f9fa;
	height: 60px;
	line-height: 60px;
}

/*container-form*/

