
/*header*/

header {
	background-color: #212529;
	opacity: 0.9;
}

.container #logo {
	font-size: 22px;
	margin-right: 480px;
}

.navbar-nav li {
	margin-right: 15px;
}



/*footer*/

footer {
	background-color: #f8f9fa;
	height: 60px;
	line-height: 60px;
}

/*container-form*/

#container-form {
	width: 60%;
	margin: 0 auto;
}

.btn {
	font-family: 'Montserrat';
	font-weight: 700;
}

.btn-twitter {
	color: #fff;
	background-color: #55acee;
	border-color: rgba(0,0,0,0.2);
}

.btn-social {
	position: relative;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#twitter-icon {
	margin-right: 20px;
	/*border-right: solid 3px #fff;*/
}

 .btn-block {
 	display: block;
 	width: 100%;
 }

#container-form .text-center h4 {
	padding: 20px;
}

#container-form h1 {
	margin-top: 10px;
	padding: 10px;
	font-weight: 700;
}

.icon-box {
	background-color: #e8eaed;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin: 0 auto;
}

.icon-box p {
	font-size: 20px;
	font-weight: 700;
	line-height: 50px;
}

#container-form .btn-twitter {
	margin-bottom: 10px;
}

.error-message{
	color:red;
}


